

:root{
    --color--principal: #3db0fa;
    --color--texto: #020202;
    --color--secundario: #f9f7ff;
    --color--tercero: #03112b;
}

.titulo{
    color: white;
    text-transform: uppercase;
    margin-left: 11.5%;
}

h3{
    text-align: center;
}
/* ---------------ApartadoCarrito y Compra------------------- */

.principal{
    padding-bottom: 30rem;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}

/* --------------------Carrito------------------------ */
.carrito-pio{
    width: 42rem;
    height: fit-content;
    color: white;

    padding: 1rem;
    background-color: var(--color--tercero);
    border-radius: 1rem;
    border: 1px solid #ffffff;
}

.carritoImput{
    gap: 1.5rem;
    display: grid;
    grid-template: 
    "numTarjeta numTarjeta numTarjeta" auto
    "mesExpiracion anio cvv" auto 
    "button button button";

    #numTarjeta{
        grid-area: numTarjeta;
    }

    #mesExpiracion{
        grid-area: mesExpiracion;
    }

    #anio{
        grid-area: anio;
    }

    #cvv{
        grid-area: cvv;
    }

    .button{
        grid-area: button;
    }
}

.carritoImput input{
    height: 2rem;
}

.carritoImput button{
    height: 3rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.carritoImput button:hover{
    background-color: var(--color--principal)

}

/* --------------listaCompra---------- */

.listaCompra{
    padding: 1rem;
    background-color: var(--color--tercero);
    border: 1px solid white; 
    color: white;
    border-radius: 1rem;
    border: 1px solid rgb(255, 255, 255);
    width: 42rem;
    height: fit-content;
}

.total{
    width: fit-content;
    text-align: right;
    background-color: var(--color--principal);
    margin-left: 32rem;
    font-size: large;
    margin-top: 10rem;
}


.letraTamanio{
    font-size:xx-large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    align-items: center;

}

.letraTamanio p{
    margin: 0;
    border: 1px solid rgb(255, 255, 255);
    width: 37rem;
    height: fit-content;
    text-align: center;
}

.medios-de-pago{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}
.medios-de-pago-lista{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}
.medios-de-pago-lista img{
    padding: 1rem;
    width: 100%;
    height: 100%;
    object-fit:contain;
    margin: 1rem;
}
