*{
    margin: 0;
    padding: 0;
}
    /*
    color--celeste: #3db0fa;
    color--texto: #020202;
    color--marfil: #f9f7ff;
    color--azul: #03112b;
*/
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f9f7ff;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; /*si muevo la pag la imagen no se mueve*/
    background-size: cover;
}
/*HEADER*/
.main{
    padding: 2rem;
    border-radius: 2%;
    margin: 2rem;
    background-color:rgba(3, 17, 43, 0.8);
}
.ingreso-datos{
    padding: 2rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
   
}
.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    font-size: 16px;
}
.form label{
    margin-right: 10px;
}
.ingreso-datos div{
    display: block;
}
.ingreso-datos input{
   font-size: 20px;
   
}
.boton-borrar, .boton-agregar{
    width: 100%;
    height: 100%;
}

.agregar-persona{
    display: flex;
    justify-content: start;
    align-items: center;
}
.ingreso-datos button,.agregar-persona button{
    width: 5%;
    border: none;
    background: none;
    padding: 0;
}
.inscripcion{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
}
.inscripcion-precio {
    background-color: #f9f7ff;
    color: #03112b;
    font-weight: bold; 
    padding: 0.5rem;
    justify-items: center;
    align-items: center;
}
.inscripcion-boton{
    background-color: #3db0fa;
    font-weight: bold;
    font-size: 20px;
    padding: 1rem;
    border-radius: 5%;
    
}

